@media only screen and (max-width: 600px) {
    /* Discover Our Popular Courses */
    .col-flex {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .img-flex {
        width: 80%;
        height: auto;
    }
    .img-flex-div {
        display: flex;
        justify-content: center;
    }
    /* ready to join */
    .ready {
        text-align: center;
    }
}